.portfolio {
  padding: 30px 0;
}

.portfolio__title {
  padding: 0 10px;
  text-align: center;
  color: #000000;
  font-size: 26px;
  font-weight: 700;
  line-height: 36px;

  &--span {
    color: #d9a00c;
  }
}

.portfolio__list {
  @include list;
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .portfolio {
    @include container;
    padding: 80px 0 20px;
  }

  .portfolio__title {
    max-width: 710px;
    margin: auto;
    font-size: 36px;
    line-height: 50px;

    &--10 {
      max-width: none;
    }
  }
}
