.portfolio {
  padding: 30px 0;
}

.portfolio__title {
  padding: 0 20px;
  text-align: center;
  color: #000000;
  font-size: 26px;
  font-weight: 700;
  line-height: 36px;

  &--span {
    color: #d9a00c;
  }
}

.portfolio__list {
  @include list;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio__item {
  margin: 130px auto 0;
}

@media screen and (min-width: 768px) {
  .portfolio {
    @include container;
    padding: 100px 0;
  }

  .portfolio__title {
    max-width: 700px;
    margin: auto;
    margin-bottom: 60px;
    font-size: 36px;
    line-height: 50px;
  }

  .portfolio__item {
    margin: 130px 0 0;
  }
}
