.what {
  padding: 30px 0;
}

.what__text-content {
  max-width: 585px;
  padding: 20px;
  border-top: 2px solid #F6BE2D;
  border-bottom: 2px solid #F6BE2D;
}

.what__title {
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
}

.what__text {
  margin-top: 30px;
  font-size: 18px;
  line-height: 32px;
}

@media screen and (min-width: 1024px) {
  .what {
    @include container;
    padding: 50px 0;
    display: flex;
    align-items: center;
  }

  .what__text-content {
    padding: 40px 20px;
    margin-left: auto;
  }
}
